<ul class="steps">
	<li id="enable-atmosphere" class="steps__description animatable animatable--active">
		With a single click enable the addon. Make sure that you are in "Rendered" Viewport Shading mode.
	</li>
	<li id="choose-preset" class="steps__description animatable">
		Use our stunning premade presets or make your own. With one click apply new addon configuration.
	</li>
	<li id="enable-fog" class="steps__description animatable">
		Apply fog to objects in your scene for them to seamlessly blend into the atmosphere.
	</li>
	<li id="enable-clouds" class="steps__description animatable">
		Clouds are formed using built-in noise texture, but you can use your own grayscale image. Cloud lighting and shadows are calculated procedurally. 
	</li>
	<li id="tweak-stars" class="steps__description animatable">
		Stars are prodecurally generated, but you can use your own stars texture and tweak the parameters.
	</li>
</ul>