<div class="how-it-works">
	<h2 class="how-it-works__title">How it works</h2>
	<div class="left-indent-2 size-8 mobile-wide-layout">
		{% include "../videoplayer/videoplayer.twig" %}
	</div>

	<div class="left-indent size-6">
		{% include "../tablinks/tablinks.twig" with {'class': 'how-it-works__links'} %}
		{% include "../steps/steps.twig" %}
	</div>
</div>
