<div class="our-story">
    <div class="left-indent size-7">
        <h2 class="our-story__title">Our Story</h2>
        <div class="our-story__row">
            <div>
                <p>
                    The creator of addons is Martins Upitis. For over 10 years as a digital artist, he has published
                    countless free resources on <a href="https://blenderartists.org/u/martinsh/" rel="noreferrer" target="_blank">BlenderArtists forums</a>,
                    his blog, and <a href="https://www.youtube.com/user/martinsupitis" rel="noreferrer" target="_blank">YouTube channel</a>.
                    He has led a workshop at Blender conference and teaches at art school with his experimental course
                    in 'Lighting and Materials'.
                </p>
            </div>
            <div>
            
                <img
                    src="assets/images/our-story/childhood-450.jpg"
                    alt="Retro photo where brothers playing chess with father"
                    srcset="
                        assets/images/our-story/childhood-200.jpg 200w,
                        assets/images/our-story/childhood-320.jpg 320w,
                        assets/images/our-story/childhood-450.jpg 450w,
                        assets/images/our-story/childhood-600.jpg 600w
                    "
                    sizes="
                        (max-width: 576px) calc(100vw - 80px),
                        (max-width: 930px) 34.27vw,
                        24.97vw
                    "
                >
            </div>
        </div>
{#        <div class="gap"></div>#}
        <div class="our-story__row">
            <div>
                <img
                    src="assets/images/our-story/nowadays-450.jpg"
                    alt="Martinsh with his son during winter-time"
                    srcset="
                        assets/images/our-story/nowadays-200.jpg 200w,
                        assets/images/our-story/nowadays-320.jpg 320w,
                        assets/images/our-story/nowadays-450.jpg 450w,
                        assets/images/our-story/nowadays-600.jpg 600w
                    "
                    sizes="
                        (max-width: 576px) calc(100vw - 80px),
                        (max-width: 930px) 34.27vw,
                        24.97vw
                    "
                >
            </div>
            <div>
                <p>
                    Physical Starlight and Atmosphere addon were made over a decade as a part of Martins workflow.
                    Currently, it has 5000+ users and it is actively maintained by a team. We are working on
                    multiple addons all based on real physics. Welcome to our journey! 
                </p>
            </div>
        </div>
    </div>
</div>


{#The creator of addons is Martins Upitis. For over 10 years as a digital artist, he has published countless free resources on <BlenderArtists forums>, his <blog>, and YouTube channel. He has led workshop in Blender conference, is a teacher at art school with his own experimental course in 'Lighting and Materials'.#}

{#        Physical starlight and atmosphere addon were made over a decade as a part of Martins workflow. Currently, it has 3000+ users and it is actively maintained by a team. Now we are working on multiple addons all based on real physics.#}