.gallery {
	&__title {
		margin-bottom: 72px;
		@extend .h2;
		span {
			color: #ab235d;
		}
		@include respond-below(xs) {
			margin-bottom: 36px;
		}
	}
	
	&__grid {
		display: grid;
		padding: 0 2px;
		grid-template-columns: repeat(4, 1fr);
		//grid-template-rows: repeat(5, 350px);
		grid-auto-rows: 350px;
		grid-gap: 2px;
		transition: grid-auto-rows 1s linear;
		@include respond-above(xlg) {
			max-width: 1700px;
			margin: 0 auto;
		}
		@include respond-below(xs) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__artwork {
 		position: relative;

		&:after {
			content: "";
			opacity: 0;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 90px;
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .8)) 0 102% no-repeat;
			transition: opacity .2s linear;
			z-index: 1;
		}
		&:hover, &:focus {
			&:after {
				opacity: 1;
				@include respond-below(xs) {
					display: none; // on mobile there is no hover
				}
			}
		}

		&--wide {
			grid-column: span 2;
		}

		> a {
			> img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: bottom;
			}
		}

		> figcaption {
			position: relative;
			opacity: 0;
			transition: opacity .2s linear;
			z-index: 2;
		}

		&:hover, &:focus {
			> figcaption {
				opacity: 1;
				@include respond-below(xs) {
					display: none; // on mobile there is no hover
				}
			}
		}
	}
		&__author {
			position: absolute;
			bottom: 36px;
			left: 16px;

			text-decoration: none;
			color: $color-text;
			font-size: 12px;
			font-weight: 500;
			//z-index: 2;

			&:after {
				position: relative;
				top: 4px;
				display: inline-block;
				content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0iI0Y1RjVGNSIgZD0iTTI5LjI1IDYuNzZhNiA2IDAgMDAtOC41IDBsMS40MiAxLjQyYTQgNCAwIDExNS42NyA1LjY3bC04IDhhNCA0IDAgMTEtNS42Ny01LjY2bDEuNDEtMS40Mi0xLjQxLTEuNDItMS40MiAxLjQyYTYgNiAwIDAwMCA4LjVBNiA2IDAgMDAxNyAyNWE2IDYgMCAwMDQuMjctMS43Nmw4LThhNiA2IDAgMDAtLjAyLTguNDh6Ii8+PHBhdGggZmlsbD0iI0Y1RjVGNSIgZD0iTTQuMTkgMjQuODJhNCA0IDAgMDEwLTUuNjdsOC04YTQgNCAwIDAxNS42NyAwQTMuOTQgMy45NCAwIDAxMTkgMTRhNCA0IDAgMDEtMS4xNyAyLjg1TDE1LjcxIDE5bDEuNDIgMS40MiAyLjEyLTIuMTJhNiA2IDAgMDAtOC41MS04LjUxbC04IDhhNiA2IDAgMDAwIDguNTFBNiA2IDAgMDA3IDI4YTYuMDcgNi4wNyAwIDAwNC4yOC0xLjc2bC0xLjQyLTEuNDJhNCA0IDAgMDEtNS42NyAweiIvPjxwYXRoIGRhdGEtbmFtZT0iJmx0O1RyYW5zcGFyZW50IFJlY3RhbmdsZSZndDsiIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMzJ2MzJIMHoiLz48L3N2Zz4=");
				width: 16px;
				height: 16px;
				margin-left: 6px;
				fill: #F5F5F5;
				opacity: 0;
				transition: opacity .1s ease-in-out;
				@include respond-below(xs) {
					opacity: 1;
				}
			}
			&:hover:after {
				opacity: 1;
			}
		}
		&__jobtitle {
			position: absolute;
			bottom: 16px;
			left: 16px;

			color: #ABABAB;
			font-size: 12px;
			line-height: 1.25;
			font-weight: 500;
			//z-index: 2;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: calc(100% - 32px);
		}
}
