<div class="landing">
    <div class="wrapper">
        <div class="container-xl">
            {% include "../nav-primary/nav-primary.twig" %}
        </div>
        <div class="landing__hero left-indent size-6 mobile-wide-layout">
            <h1 class="landing__title">
                Cinematic atmosphere<br>
                One click away for Blender<br>
                <em>Physical Starlight and Atmosphere</em>
            </h1>
            {% include "../badge/badge.twig" %}
        </div>
        <div class="landing__timeline left-indent size-6 mobile-wide-layout">
            {% include "../timeline/timeline.twig" %}
        </div>
    </div>
    {% include "../presets/presets.twig" %}
</div>