<nav class="nav-primary nav-primary--closed" aria-label="Secondary">
    <a class="nav-primary__logo" href="https://www.physicaladdons.com/psa/" aria-label="Physical Addons">
        <svg viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 37v37h74V0H0v37zm60.154-12.216v10.943l-3.807 3.806-3.81 3.811h-23.27v9.1l-3.853 3.852-3.858 3.858H13.846V21.88l4.015-4.015 4.02-4.02H60.153v10.938zm0 21.538v7.187l-3.325 3.325-3.32 3.32h-8.776V45.706h8.776l3.288-3.288c1.806-1.81 3.301-3.288 3.32-3.288.023 0 .037 3.237.037 7.192z" fill="#fff"/><path d="M29.266 29.59v4.539h15.406l.028-2.371c.019-1.301.032-3.343.032-4.538v-2.167H29.266v4.538z" fill="#fff"/></svg>
    </a>
    <button
            class="nav-primary__toggle"
            aria-controls="primary-nav-links"
            aria-expanded="false"
            aria-label="Toggle primary navigation">
        <svg class="ham" viewBox="0 0 100 100" width="64">
            <path class="ham__line ham__line--top" d="m 70,33 h -40 c 0,0 -8.5,-0.149796 -8.5,8.5 0,8.649796 8.5,8.5 8.5,8.5 h 20 v -20"></path>
            <path class="ham__line ham__line--middle" d="m 70,50 h -40"></path>
            <path class="ham__line ham__line--bottom" d="m 30,67 h 40 c 0,0 8.5,0.149796 8.5,-8.5 0,-8.649796 -8.5,-8.5 -8.5,-8.5 h -20 v 20"></path>
        </svg>
    </button>
    <div class="nav-primary__collapse" id="primary-nav-links">
        <div class="nav-primary__main">
            <a href="https://www.physicaladdons.com/psa/getting-started/" class="nav-primary__link">Documentation</a>
            <a href="https://blendermarket.com/products/physical-starlight-and-atmosphere" class="nav-primary__link">Blender market</a>
        </div>
        <div class="nav-primary__secondary">
            <a href="https://www.physicaladdons.com/psa/contacts/" class="nav-primary__link">Contacts</a>
        </div>
    </div>
</nav>