/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2?v=3.18") format("woff2"), url("../fonts/Inter-Light.woff?v=3.18") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.18") format("woff2"), url("../fonts/Inter-Regular.woff?v=3.18") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2?v=3.18") format("woff2"), url("../fonts/Inter-Medium.woff?v=3.18") format("woff");
}
body {
  font-family: "Inter", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #F5F5F5;
}

.h2, .pricing__title, .gallery__title, .our-story__title, .testimonials__title {
  color: #F5F5F5;
  font-size: 40px;
  line-height: 1.3;
  font-weight: 400;
}
@media (max-width: 929px) {
  .h2, .pricing__title, .gallery__title, .our-story__title, .testimonials__title {
    font-size: 32px;
  }
}

.h3, .pricing__price, .pricing__name, .benefits__header > h3 {
  color: #F5F5F5;
  font-size: 28px;
  line-height: 1.3;
  font-weight: 400;
}

:focus {
  outline: 4px solid rgba(0, 125, 250, 0.6);
  z-index: 1;
}

.gallery__artwork > a:focus, .testimonials__figure:focus {
  outline-offset: -4px;
}

:focus[data-focus-method=mouse] {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.container-xl, .container-l, .container-m, .container-s, .nav-secondary__collapse, .nav-primary__main {
  margin-right: auto;
  margin-left: auto;
}

.psa {
  background-color: black;
}

.wrapper {
  max-width: 2000px;
  margin: 0 auto;
}

.left-indent {
  margin-left: 25%;
  transition: margin-left 0.3s ease-in-out;
}
@media (max-width: 929px) {
  .left-indent {
    margin-left: 10%;
  }
}
@media (max-width: 575px) {
  .left-indent {
    margin-left: 40px;
  }
}

.container-s, .nav-secondary__collapse, .nav-primary__main {
  max-width: 50%;
}
.container-m {
  max-width: 75%;
}
.container-l {
  max-width: 1200px;
}
.container-xl {
  width: 100%;
}

.cut-overflow {
  overflow: hidden;
}

.size-6 {
  width: 50%;
}
@media (max-width: 929px) {
  .size-6 {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .size-6 {
    width: calc(100% - 80px);
  }
}

.size-7 {
  width: 58.3333333333%;
}
@media (max-width: 929px) {
  .size-7 {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .size-7 {
    width: calc(100% - 80px);
  }
}

.size-8 {
  width: 66.6666666667%;
}
@media (max-width: 929px) {
  .size-8 {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .size-8 {
    width: calc(100% - 80px);
  }
}

.size-9 {
  width: 75%;
}
@media (max-width: 929px) {
  .size-9 {
    width: 80%;
  }
}
@media (max-width: 575px) {
  .size-9 {
    width: calc(100% - 80px);
  }
}

.left-indent-1 {
  margin-left: 8.3333333333%;
}
@media (max-width: 929px) {
  .left-indent-1 {
    margin-left: 10%;
  }
}
@media (max-width: 575px) {
  .left-indent-1 {
    margin-left: 40px;
  }
}

.left-indent-2 {
  margin-left: 16.6666666667%;
}
@media (max-width: 929px) {
  .left-indent-2 {
    margin-left: 10%;
  }
}
@media (max-width: 575px) {
  .left-indent-2 {
    margin-left: 40px;
  }
}

@media (max-width: 575px) {
  .mobile-wide-layout {
    margin-left: 20px;
    width: calc(100% - 40px);
  }
}

.gap {
  width: 100%;
  height: 148px;
}
@media (max-width: 929px) {
  .gap {
    height: 64px;
  }
}

.big-gap {
  width: 100%;
  height: 200px;
}
@media (max-width: 929px) {
  .big-gap {
    height: 96px;
  }
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  color: #F5F5F5;
  border-radius: 25px;
}
.btn--cta {
  padding: 4px 12px;
  line-height: 18px;
  font-size: 12px;
  border: 2px solid #F5F5F5;
}
.btn--primary {
  box-sizing: border-box;
  min-width: 200px;
  padding: 12px;
  line-height: 14px;
  font-size: 14px;
  background-image: url("../images/primary-btn.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-position 0.3s ease-in-out;
}
.btn--primary:hover {
  background-position-x: calc(100% + 20px);
}
.btn--secondary {
  box-sizing: border-box;
  min-width: 200px;
  padding: 12px;
  line-height: 14px;
  font-size: 14px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease-in-out;
}
.btn--secondary:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 30px);
}
@media (max-width: 575px) {
  .wrapper {
    height: calc(100vh - 80px);
  }
}

.landing {
  position: relative;
  height: calc(100vh - 68px);
  min-height: 450px;
  background-size: cover;
  background-position: center;
}
@media (max-width: 575px) {
  .landing {
    height: calc(100vh - 160px);
  }
}
.landing__logo {
  margin-bottom: 34px;
}
@media (max-width: 768px) {
  .landing__logo {
    display: none;
  }
}
.landing .badge {
  position: absolute;
  top: 10px;
  right: -200px;
}
@media (max-width: 768px) {
  .landing .badge {
    top: 110px;
    right: 0;
  }
}
@media (max-width: 425px) {
  .landing .badge {
    top: 60px;
  }
}
@media (max-width: 375px) {
  .landing .badge {
    top: -130px;
  }
}
.landing__title {
  position: relative;
  font-size: 40px;
  line-height: 1.3;
  color: white;
  z-index: 2;
}
.landing__title em {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 575px) {
  .landing__title {
    font-size: 28px;
  }
}
.landing__timeline {
  margin-top: 16px;
  margin-bottom: 115px;
}
.landing .landing__hero, .landing .landing__timeline {
  position: relative;
  z-index: 1;
}
.landing .container-xl {
  z-index: 15;
}
.landing:after {
  content: "";
  position: absolute;
  height: 160px;
  bottom: -68px;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}
@media (max-width: 575px) {
  .landing:after {
    bottom: -160px;
  }
}

.how-it-works__title {
  position: absolute;
  width: 0;
  overflow: hidden;
}
.how-it-works__links {
  margin-top: 78px;
}
@media (max-width: 575px) {
  .how-it-works__links {
    margin-top: 32px;
  }
}

.nav-primary {
  position: relative;
  padding: 20px 0;
  min-height: 48px;
}
.nav-primary__logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1001;
  width: 58px;
  height: 58px;
}
@media (max-width: 575px) {
  .nav-primary__logo {
    width: 40px;
    height: 40px;
  }
}
.nav-primary__logo svg {
  max-width: 100%;
}
.nav-primary__link {
  display: inline-block;
  margin-right: 36px;
  padding: 16px 0;
  font-size: 16px;
  color: #F5F5F5;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.nav-primary .nav-primary__secondary .nav-primary__link {
  margin-right: 20px;
}
@media (max-width: 929px) {
  .nav-primary__main {
    max-width: none;
    margin: 0;
  }
}
.nav-primary__secondary {
  position: absolute;
  right: 20px;
  top: 20px;
}
@media (max-width: 929px) {
  .nav-primary__secondary {
    position: static;
  }
}
.nav-primary__toggle {
  display: none;
  position: absolute;
  z-index: 1001;
  right: 12px;
  top: 7px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.nav-primary__toggle .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
}
.nav-primary__toggle .ham__line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #FFFFFF;
  stroke-width: 4;
}
.nav-primary__toggle .ham__line--top, .nav-primary__toggle .ham__line--bottom {
  stroke-dasharray: 40 121;
}
.nav-primary__toggle[aria-expanded=true] .ham {
  transform: rotate(45deg);
}
.nav-primary__toggle[aria-expanded=true] .ham__line--top, .nav-primary__toggle[aria-expanded=true] .ham__line--bottom {
  stroke-dashoffset: -68px;
}
@media (max-width: 575px) {
  .nav-primary__toggle {
    display: block;
  }
}
@media (max-width: 929px) {
  .nav-primary__collapse {
    display: flex;
    justify-content: flex-end;
  }
}
@media (max-width: 575px) {
  .nav-primary__collapse {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    z-index: 1000;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }
  .nav-primary__collapse .nav-primary__main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  .nav-primary__collapse .nav-primary__link {
    margin-right: 32px !important;
    display: block !important;
  }
}
@media (max-width: 575px) {
  .nav-primary__toggle[aria-expanded=true] + .nav-primary__collapse {
    display: flex;
  }
}

.navigation-active {
  overflow: hidden;
}

.tablinks {
  position: relative;
  padding-bottom: 14px;
  z-index: 1;
}
.tablinks__list {
  display: flex;
}
.tablinks__item {
  flex: 1;
}
.tablinks__link {
  display: block;
  position: relative;
  color: white;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 575px) {
  .tablinks__link {
    font-size: 12px;
  }
}
.tablinks__link:after {
  position: absolute;
  content: "";
  top: calc(100% + 10px);
  right: 100%;
  width: 5px;
  height: 4px;
  background-color: black;
  z-index: 1;
}
.tablinks__link:before {
  display: none;
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2em0uNjY2LTE0LjIwNnYxMi40MTJMMTIuNjE3IDggMS4zMzIgMS43OTR6IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii41Ii8+PC9zdmc+");
  margin-right: 8px;
}
@media (max-width: 575px) {
  .tablinks__link:before {
    display: none;
  }
}
.tablinks__link--active:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==");
}
.tablinks:before, .tablinks__line {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
}
.tablinks:before {
  right: 0;
  background-color: rgba(255, 255, 255, 0.2);
}
.tablinks__line {
  background-color: white;
  width: 19.5%;
  transition: transform 0.3s ease-in-out;
}

.presets {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -68px;
  left: 0;
  overflow: hidden;
}
@media (max-width: 575px) {
  .presets {
    bottom: -160px;
  }
}
.presets__image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.animatable {
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.animatable--active {
  opacity: 1;
}

.nav-secondary {
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding-top: 20px;
  z-index: 10;
}
.nav-secondary__link {
  display: inline-block;
  padding: 14px 0;
  font-size: 16px;
  color: #F5F5F5;
  text-decoration: none;
}
.nav-secondary__link + .nav-secondary__link {
  margin-left: 60px;
}
@media (max-width: 575px) {
  .nav-secondary__link + .nav-secondary__link {
    margin-left: 32px;
    padding-right: 8px;
  }
}
.nav-secondary__cta {
  position: absolute;
  right: 20px;
  top: 28px;
}
@media (max-width: 575px) {
  .nav-secondary__collapse {
    display: flex;
    justify-content: flex-end;
  }
}
.nav-secondary__logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 48px;
  height: 48px;
  opacity: 0;
  transition: opacity 0.1s linear;
}
.nav-secondary__logo img {
  max-width: 100%;
}
@media (max-width: 575px) {
  .nav-secondary__logo {
    width: 40px;
    height: 40px;
  }
}
.nav-secondary__logo--show {
  opacity: 1;
}
.nav-secondary__toggle {
  display: none;
}
@media (min-width: 576px) {
  .nav-secondary__toggle {
    display: none;
  }
}

.videoplayer {
  position: relative;
  display: block;
  overflow: hidden;
}
.videoplayer:before {
  display: block;
  content: "";
  padding-top: 56.25%;
}
.videoplayer > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.steps {
  position: relative;
  margin-top: 36px;
  max-width: 410px;
  min-height: 60px;
}
.steps__description {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.5);
}
.steps__description.animatable {
  transition: none;
}
.steps__description.animatable--active {
  transition: opacity 1s ease-in-out;
}

.timeline {
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 40px;
}
.timeline__section {
  width: calc(20% - 4px);
  height: 4px;
  margin-left: 5px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  transition: height 0.1s ease-in-out;
  cursor: pointer;
}
.timeline__section:before, .timeline__section:after {
  padding-bottom: 13px;
  bottom: 0;
  display: block;
  position: absolute;
}
.timeline__section:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2em0uNjY2LTE0LjIwNnYxMi40MTJMMTIuNjE3IDggMS4zMzIgMS43OTR6IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii41Ii8+PC9zdmc+");
  left: 0;
  right: 0;
  padding-bottom: 15px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
@media (max-width: 575px) {
  .timeline__section:before {
    display: none;
  }
}
.timeline__section:after {
  content: attr(title);
  left: 22px;
  right: 0;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0);
  transition: color 0.1s ease-in-out;
}
@media (max-width: 575px) {
  .timeline__section:after {
    left: 0;
  }
}
.timeline__section:hover {
  height: 8px;
}
.timeline__section:hover:before {
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2em0uNjY2LTE0LjIwNnYxMi40MTJMMTIuNjE3IDggMS4zMzIgMS43OTR6IiBmaWxsPSIjZmZmIiBmaWxsLW9wYWNpdHk9Ii41Ii8+PC9zdmc+");
  opacity: 1;
}
.timeline__section:hover:after {
  color: rgba(255, 255, 255, 0.2);
}
@media (max-width: 575px) {
  .timeline__section:hover:after {
    color: rgba(255, 255, 255, 0);
  }
}
@media (max-width: 575px) {
  .timeline__section:hover {
    height: 4px;
  }
}
.timeline__section--active:before {
  opacity: 1;
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==");
}
.timeline__section--active:hover:before {
  opacity: 1;
  content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS42NjcgMTZBLjY2Ni42NjYgMCAwMTAgMTUuMzMzVi42NjdBLjY2Ny42NjcgMCAwMS45ODguMDgzTDE0LjMyIDcuNDE2YS42NjYuNjY2IDAgMDEwIDEuMTY4TC45ODggMTUuOTE4QS42NjcuNjY3IDAgMDEuNjY3IDE2eiIgZmlsbD0iI2ZmZiIvPjwvc3ZnPg==");
}
.timeline__section--active:after {
  color: white !important;
}
.timeline__section--empty:before, .timeline__section--empty:after {
  display: none;
}
.timeline__progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  transform-origin: 0;
  transform: scaleX(0);
  transition: transform 0.1s linear;
  will-change: transform;
}

.no-transition .timeline__progress {
  transition: none;
}

.benefits {
  padding: 5px 0;
}
.benefits__title {
  position: absolute;
  width: 0;
  overflow: hidden;
}
.benefits__list {
  position: relative;
}
.benefits__header {
  position: relative;
  display: block;
  width: 50%;
  text-decoration: none;
}
.benefits__header > h3 {
  opacity: 0.4;
}
@media (max-width: 575px) {
  .benefits__header > h3 {
    opacity: 1;
  }
}
.benefits__header > p {
  display: none;
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.6;
  color: #F5F5F5;
}
@media (max-width: 575px) {
  .benefits__header > p {
    color: rgba(255, 255, 255, 0.5);
    display: block;
  }
}
@media (max-width: 575px) {
  .benefits__header {
    width: 100%;
  }
}
.benefits__header[aria-expanded=true] > h3 {
  opacity: 1;
}
.benefits__header[aria-expanded=true] > p {
  display: block;
}
.benefits__header[aria-expanded=true]:before {
  content: "";
  position: absolute;
  left: -20%;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #FFFFFF;
}
@media (max-width: 575px) {
  .benefits__header[aria-expanded=true]:before {
    display: none;
  }
}
.benefits__panel {
  position: absolute;
  top: 0;
  right: -33%;
  width: 66%;
}
.benefits__panel img {
  max-width: 100%;
}
.benefits__panel + .benefits__header {
  margin-top: 36px;
}
.benefits__panel[hidden] {
  display: none;
}
@media (max-width: 575px) {
  .benefits__panel {
    right: auto;
    position: relative;
    height: 205px;
    width: 100%;
    margin-top: 16px;
  }
  .benefits__panel > img {
    max-width: initial;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
  }
  .benefits__panel + .benefits__header {
    margin-top: 60px;
  }
  .benefits__panel[hidden] {
    display: block;
  }
}
.benefits__cta {
  margin-top: 48px;
}

.testimonials {
  overflow: hidden;
}
@media (max-width: 575px) {
  .testimonials {
    padding-top: 48px;
    background-color: #191919;
  }
}
.testimonials__title {
  padding-bottom: 80px;
}
@media (max-width: 575px) {
  .testimonials__title {
    padding-bottom: 48px;
  }
}
.testimonials__list {
  display: flex;
  transition: transform 0.3s ease-in-out;
}
@media (max-width: 575px) {
  .testimonials__list {
    flex-direction: column;
  }
}
.testimonials__figure {
  box-sizing: border-box;
  flex: none;
  width: 100%;
  padding: 36px;
  padding-right: 20%;
  background-color: rgba(25, 25, 25, 0.5);
  border-right: 2px solid black;
  transition: background-color 0.3s ease-in-out;
  opacity: 0.5;
  user-select: none;
}
.testimonials__figure:hover {
  background-color: #191919;
  cursor: pointer;
}
.testimonials__figure--active {
  opacity: 1;
}
.testimonials__figure--active:hover {
  background-color: rgba(25, 25, 25, 0.5);
  cursor: default;
}
@media (max-width: 575px) {
  .testimonials__figure {
    padding: 0 0 48px 0;
    flex: auto;
    background-color: transparent;
    border-right: none;
    opacity: 1;
  }
}
.testimonials__author {
  overflow: hidden;
  margin-bottom: 72px;
}
@media (max-width: 575px) {
  .testimonials__author {
    margin-bottom: 24px;
  }
}
.testimonials__author > img {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
@media (max-width: 575px) {
  .testimonials__author > img {
    width: 82px;
    height: 82px;
  }
}
.testimonials__author > div {
  margin-left: 136px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 1.6;
}
.testimonials__author > div:first-of-type {
  margin-top: 8px;
  color: #F5F5F5;
}
@media (max-width: 575px) {
  .testimonials__author > div {
    font-size: 14px;
    margin-left: 96px;
  }
}
.testimonials__blockquote {
  font-size: 20px;
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 575px) {
  .testimonials__blockquote {
    font-size: 16px;
  }
}

.our-story__title {
  margin-bottom: 28px;
}
.our-story__row {
  display: flex;
  justify-content: space-between;
}
.our-story__row div {
  width: 42.84%;
}
.our-story__row:last-child {
  margin-top: 100px;
}
@media (max-width: 575px) {
  .our-story__row {
    flex-direction: column;
  }
  .our-story__row:first-of-type {
    flex-direction: column-reverse;
  }
  .our-story__row:last-of-type {
    margin-top: 26px;
  }
  .our-story__row div {
    width: 100%;
  }
}
.our-story img {
  max-width: 100%;
}
@media (max-width: 575px) {
  .our-story img {
    margin-bottom: 28px;
  }
}
.our-story p {
  font-size: 20px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  line-height: 1.6;
}
.our-story a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.gallery__title {
  margin-bottom: 72px;
}
.gallery__title span {
  color: #ab235d;
}
@media (max-width: 575px) {
  .gallery__title {
    margin-bottom: 36px;
  }
}
.gallery__grid {
  display: grid;
  padding: 0 2px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 350px;
  grid-gap: 2px;
  transition: grid-auto-rows 1s linear;
}
@media (min-width: 1700px) {
  .gallery__grid {
    max-width: 1700px;
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.gallery__artwork {
  position: relative;
}
.gallery__artwork:after {
  content: "";
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)) 0 102% no-repeat;
  transition: opacity 0.2s linear;
  z-index: 1;
}
.gallery__artwork:hover:after, .gallery__artwork:focus:after {
  opacity: 1;
}
@media (max-width: 575px) {
  .gallery__artwork:hover:after, .gallery__artwork:focus:after {
    display: none;
  }
}
.gallery__artwork--wide {
  grid-column: span 2;
}
.gallery__artwork > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}
.gallery__artwork > figcaption {
  position: relative;
  opacity: 0;
  transition: opacity 0.2s linear;
  z-index: 2;
}
.gallery__artwork:hover > figcaption, .gallery__artwork:focus > figcaption {
  opacity: 1;
}
@media (max-width: 575px) {
  .gallery__artwork:hover > figcaption, .gallery__artwork:focus > figcaption {
    display: none;
  }
}
.gallery__author {
  position: absolute;
  bottom: 36px;
  left: 16px;
  text-decoration: none;
  color: #F5F5F5;
  font-size: 12px;
  font-weight: 500;
}
.gallery__author:after {
  position: relative;
  top: 4px;
  display: inline-block;
  content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZmlsbD0iI0Y1RjVGNSIgZD0iTTI5LjI1IDYuNzZhNiA2IDAgMDAtOC41IDBsMS40MiAxLjQyYTQgNCAwIDExNS42NyA1LjY3bC04IDhhNCA0IDAgMTEtNS42Ny01LjY2bDEuNDEtMS40Mi0xLjQxLTEuNDItMS40MiAxLjQyYTYgNiAwIDAwMCA4LjVBNiA2IDAgMDAxNyAyNWE2IDYgMCAwMDQuMjctMS43Nmw4LThhNiA2IDAgMDAtLjAyLTguNDh6Ii8+PHBhdGggZmlsbD0iI0Y1RjVGNSIgZD0iTTQuMTkgMjQuODJhNCA0IDAgMDEwLTUuNjdsOC04YTQgNCAwIDAxNS42NyAwQTMuOTQgMy45NCAwIDAxMTkgMTRhNCA0IDAgMDEtMS4xNyAyLjg1TDE1LjcxIDE5bDEuNDIgMS40MiAyLjEyLTIuMTJhNiA2IDAgMDAtOC41MS04LjUxbC04IDhhNiA2IDAgMDAwIDguNTFBNiA2IDAgMDA3IDI4YTYuMDcgNi4wNyAwIDAwNC4yOC0xLjc2bC0xLjQyLTEuNDJhNCA0IDAgMDEtNS42NyAweiIvPjxwYXRoIGRhdGEtbmFtZT0iJmx0O1RyYW5zcGFyZW50IFJlY3RhbmdsZSZndDsiIGZpbGw9Im5vbmUiIGQ9Ik0wIDBoMzJ2MzJIMHoiLz48L3N2Zz4=");
  width: 16px;
  height: 16px;
  margin-left: 6px;
  fill: #F5F5F5;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
@media (max-width: 575px) {
  .gallery__author:after {
    opacity: 1;
  }
}
.gallery__author:hover:after {
  opacity: 1;
}
.gallery__jobtitle {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #ABABAB;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 32px);
}

.pricing {
  overflow: hidden;
}
.pricing__badge {
  position: relative;
}
.pricing__badge > .badge {
  position: absolute;
  bottom: calc(100% - 90px);
  right: calc(100% - 90px);
}
@media (max-width: 768px) {
  .pricing__badge > .badge {
    top: -40px;
    left: auto;
    right: 50px;
  }
}
@media (max-width: 425px) {
  .pricing__badge > .badge {
    top: 90px;
    right: -50px;
  }
}
@media (max-width: 375px) {
  .pricing__badge > .badge {
    top: 140px;
  }
}
.pricing__title {
  margin-bottom: 36px;
  max-width: 315px;
  position: relative;
  z-index: 2;
}
.pricing__wrapper {
  position: relative;
}
.pricing__plans {
  display: flex;
  margin-left: -20px;
}
@media (max-width: 575px) {
  .pricing__plans {
    flex-direction: column;
    margin-left: -26px;
  }
}
.pricing__plans:before, .pricing__plans:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #191919;
}
@media (max-width: 575px) {
  .pricing__plans:before, .pricing__plans:after {
    display: none;
  }
}
.pricing__plans:after {
  top: 366px;
}
.pricing__plans > li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  border-left: 2px solid #191919;
}
@media (max-width: 575px) {
  .pricing__plans > li {
    display: initial;
    position: relative;
  }
  .pricing__plans > li:before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: -50px;
    width: 120vh;
    height: 2px;
    background-color: #191919;
  }
  .pricing__plans > li:last-child:after {
    display: block;
    position: absolute;
    content: "";
    bottom: 0;
    left: -50px;
    width: 120vh;
    height: 2px;
    background-color: #191919;
  }
}
.pricing__body, .pricing__footer {
  padding: 36px 20px 10px 20px;
}
.pricing__body {
  box-sizing: border-box;
  min-height: 366px;
}
.pricing__body > ul > li {
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.5);
}
.pricing__body > ul > li > a {
  color: rgba(255, 255, 255, 0.5);
}
.pricing__body > ul > li.plus {
  color: #F5F5F5;
}
@media (max-width: 575px) {
  .pricing__body {
    min-height: auto;
    padding: 0;
    margin: 32px 28px;
  }
}
.pricing__name {
  margin-bottom: 53px;
}
@media (max-width: 575px) {
  .pricing__name {
    margin-bottom: 8px;
  }
}
.pricing__footer > p {
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 575px) {
  .pricing__footer {
    padding: 0;
    margin: 32px 28px;
  }
}
.pricing__price {
  margin-top: 8px;
  margin-bottom: 36px;
}
.pricing__price:after {
  display: inline-block;
  content: attr(data-before);
  margin-left: 12px;
  color: #312DFF;
  text-decoration: line-through;
}
@media (max-width: 1199px) {
  .pricing__price:after {
    font-size: 16px;
  }
}

.footer {
  padding-bottom: 32px;
}
.footer__links {
  display: flex;
}
@media (max-width: 575px) {
  .footer__links {
    flex-direction: column;
  }
}
.footer__link {
  color: #F5F5F5;
  font-size: 16px;
  line-height: 1.3;
  text-decoration: none;
}
.footer__link + .footer__link {
  margin-left: 32px;
}
@media (max-width: 575px) {
  .footer__link + .footer__link {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.footer__socials {
  margin-top: 32px;
  display: flex;
}
.footer__social > svg {
  width: 24px;
  height: 24px;
  fill: #F5F5F5;
}
.footer__social + .footer__social {
  margin-left: 32px;
}
.footer__copyrights {
  margin-top: 100px;
  font-size: 12px;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 575px) {
  .footer__copyrights {
    margin-top: 64px;
  }
}

.badge {
  width: 232px;
  height: 232px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 20px;
  text-decoration: none;
  background-color: #312DFF;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: rotate(-16deg);
}
.badge__title {
  font-size: 16px;
}
.badge__subtitle {
  margin-top: 4px;
  font-size: 10px;
}
@media (max-width: 768px) {
  .badge {
    width: 180px;
    height: 180px;
  }
}
@media (max-width: 375px) {
  .badge {
    width: 150px;
    height: 150px;
  }
}