<div class="tablinks {{ class }}" id="workflowlinks">
	<ul class="tablinks__list">
		<li class="tablinks__item">
			<a href="#enable-atmosphere" data-skip-to="4.4" data-video="#how-it-works" class="tablinks__link tablinks__link--active">Enable</a>
		</li>
		<li class="tablinks__item">
			<a href="#choose-preset" data-skip-to="12" data-video="#how-it-works" class="tablinks__link">Presets</a>
		</li>
		<li class="tablinks__item">
			<a href="#enable-fog" data-skip-to="21" data-video="#how-it-works" class="tablinks__link">Fog</a>
		</li>
		<li class="tablinks__item">
			<a href="#enable-clouds" data-skip-to="61.1" data-video="#how-it-works" class="tablinks__link">Clouds</a>
		</li>
		<li class="tablinks__item">
			<a href="#tweak-stars" data-skip-to="126.2" data-video="#how-it-works" class="tablinks__link">Stars</a>
		</li>
	</ul>
	<div class="tablinks__line"></div>
</div>